<div class="main_chat__top">
  <div class="left_header">
    <div class="group_name">hogefuga</div>
  </div>
  <div class="right_header">
    <div class="end_btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_chat__middle">
  <div class="chat_box">  
    <div class="chat_info">
      <div class="chat_name">Tom</div>
      <div class="chat_date">2023/2/10(Fri) 17:15:00</div>
    </div>
    <div class="chat_content">
      <div class="chat_text">おはよう</div>
    </div>
  </div>

  <div class="chat_box">
    <div class="chat_info">
      <div class="chat_name">Tim</div>
      <div class="chat_date">2023/2/10(Fri) 18:30:00</div>
    </div>
    <div class="chat_content">
      <div class="chat_text">こんばんは</div>
    </div>
  </div>

</div>

<div class="main_chat__bottom">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>